---
---

html, body
{
  font-family: 'Roboto', sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

*, *:before, *:after
{
  box-sizing: border-box;
}

hr
{
  border: 1px solid #EEE;
  border-bottom: 0;
}

h1
{
  text-align: center;
}

// When you're too lazy to write real layout code...
$maze-width: 70%;
$controls-width: 100% - $maze-width;
#maze-container
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: $controls-width;
  width: $maze-width;
}

#controls
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: $controls-width;
  padding: 10px;
  box-shadow: inset 0 0 10px rgba(101, 101, 101, 0.35);

  h1:first-child
  {
    margin-top: 0;
  }
}

canvas#maze
{
  background: white;
  width: 100%;
  height: 100%;
}

canvas#maze-solution
{
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
